{% extends '_base.html' %}

{% block meta %}
{% set header = header %}

{% include '_meta.html' %}
{% endblock %}

{# Customize title here #}
{% block title %}
{% set header = header %}

{% include '_title.html' %}
{% endblock %}

{# Customize intro here #}
{% block intro %}
{% endblock %}

{# Customize content. Modify right side of equals sign to match tab names in spreadsheet #}
{% block content %}
  <div class="container">
    <h1>About Bonnie Miller Rubin</h1>
      
      <p>Bonnie Miller Rubin is an experienced writer, editor, speaker and strategist, who can provide and curate content for a variety of platforms.</p>
      <p>As a Chicago Tribune reporter for  25 years, she specialized in health and family issues, covering stories on marginalized populations, from premature babies to at-risk teens to wounded veterans.  Improving quality and access to mental health care has been an area of particular interest, with more than two dozen bylines on this topic alone.  She  has covered devastating tornadoes in Illinois, the 2004 inaugural in Washington, gay rights in Utah,  the Oklahoma City bombing and the oldest showgirl in Vegas. </p> 
      <p>During her stint at the Tribune, she has also written numerous personal columns ranging from motherhood to the erosion of civility.  One of her essays is included in “A Love Like No Other: Stories from Adoptive Parents,” one of 20 writers selected to reflect on the diversity of the American family.</p>  
      <p>Before joining the Tribune,  she was a reporter at the Minneapolis Star Tribune, where she covered food/restaurant industry and fashion/retail news. In 1985, she was named newsfeatures editor at the Gary Post-Tribune, then part of the Knight-Ridder chain, where she managed a staff of eight, turning out a daily lifestyle and entertainment sections. She loves generating  fresh and timely  ideas relevant to readers’ lives, and spotting emerging trends. One of her proudest journalistic accomplishments included being the first to report on how showering after gym had fallen out of favor, a story that got picked up by hundreds of media outlets.   That was back in 1996, which, unfortunately, was too late to help her survive her own adolescent humiliation.</p>
      <p>She was part of a team that won the 2001 Pulitzer Prize for explanatory journalism (“Gateway to Gridlock” exposing the chaotic American air traffic system). Her work has also been honored by the American Association of Orthopedic Surgeons, Knight-Ridder and the Lisagor Awards. At the Tribune, she was a recipient of a Beck Award for outstanding professional performance.</p>
      <p>Outside the newsroom, she has written magazine articles for several publications, including Good Housekeeping and Ladies Home Journal. She has also authored several books, including “Quick Escapes from Chicago” (Globe-Pequot) and “Fifty on Fifty” (Warner Books), which looked at notable women’s lives at the half-century mark.</p>  
      <p>She has a journalism degree from Drake University and has attended numerous professional and specialized reporting workshops, including “Covering Suicide and Mental Health” in 2014 by the Poynter Institute.</p>
      <p class="page-end">❧ ❧ ❧</p>
  </div>
{% endblock %}

{# Customize analytics #}
{% block analytics %}
{% include '_analytics.html' %}
{% endblock %}
