{% extends '_base.html' %}

{% block meta %}
{% set header = header %}

{% include '_meta.html' %}
{% endblock %}

{# Customize title here #}
{% block title %}
{% set header = header %}

{% include '_title.html' %}
{% endblock %}

{# Customize intro here #}
{% block intro %}
{% endblock %}

{# Customize content. Modify right side of equals sign to match tab names in spreadsheet #}
{% block content %}
  <div class="container">
    <h1>Portfolio</h1>
    <p>As a Chicago Tribune reporter for 25 years, Bonnie M. Rubin specialized in health and family issues, covering stories on marginalized populations, from premature babies to at-risk teens to wounded veterans. Improving quality and access to mental health care has been an area of particular interest, with more than two dozen bylines on this topic alone. Here is a sample of Bonnie M. Rubin's work.</p>
    <div class="portfolio-section">
      <h3>The Front Page</h3>
      {% for article in front_page %}
        <div class="row article">
          <div class="col-sm-9">
            <p class="article-item">&#9679; <span class="headline">{{ article.headline }} </span> {{ article.publication_date|format_date }}</p>
            <p>{{ article.first_paragraph }} <a href="pdf/{{ article.pdf_file }}">Read the full story in PDF <i class="fa fa-chevron-right"></i></a></p>
          </div>
          <div class="col-sm-3">
            <p><img src="img/{{ article.image_file}}" class="img-responsive"></p>
          </div>
        </div>
      {% endfor %}
      {% for article in front_page2 %}
        <div class="row article">
          <p class="article-item">&#9679; <span class="headline">{{ article.headline }} </span> {{ article.publication_date|format_date }}. <a href="{{ article.html_file }}">Read the full story <i class="fa fa-chevron-right"></i></a></p>
        </div>
      {% endfor %}
    </div>
    <div class="portfolio-section">
      <h3>Mental Health</h3>
      {% for article in mental_health %}
        <div class="row article">
          <p class="article-item">&#9679; <a href="{{ article.html_file }}"><span class="headline">{{ article.headline }} </span></a> {{ article.publication_date|format_date }}.</p>
        </div>
      {% endfor %}
    </div> 
    <div class="portfolio-section">
      <h3>Adoption/Infertility</h3>
      {% for article in adoption_infertility %}
        <div class="row article">
          <p class="article-item">&#9679; <a href="{{ article.html_file }}"><span class="headline">{{ article.headline }} </span></a> {{ article.publication_date|format_date }}.</p>
        </div>
      {% endfor %}
    </div>
    <div class="portfolio-section">
      <h3>Essays</h3>
      {% for article in essays %}
        <div class="row article">
          <p class="article-item">&#9679; <a href="{{ article.html_file }}"><span class="headline">{{ article.headline }} </span></a> {{ article.publication_date|format_date }}.</p>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{# Customize analytics #}
{% block analytics %}
{% include '_analytics.html' %}
{% endblock %}
