{% extends '_base.html' %}

{% block meta %}
{% set header = header %}

{% include '_meta.html' %}
{% endblock %}

{# Customize title here #}
{% block title %}
{% set header = header %}

{% include '_title.html' %}
{% endblock %}

{# Customize intro here #}
{% block intro %}
{% endblock %}

{# Customize content. Modify right side of equals sign to match tab names in spreadsheet #}
{% block content %}
  <div class="container">
    <h1>Contact</h1>
    <h4>Email: <a href="mailto:bonnie.rubin2125@sbcglobal.net">bonnie.rubin2125@sbcglobal.net </a></h4>

    <p class="page-end">❧</p>

    <h4>Facebook:<a href="hhttps://www.facebook.com/bonnie.rubin.961?fref=ts" target="_blank"> Bonnie Miller Rubin </a></h4>

    <p class="page-end">❧</p>

    <h4>Twitter:<a href="https://twitter.com/bmrubin" target="_blank"> @bmrubin </a></h4>

    <p class="page-end">❧ ❧ ❧</p>
  </div>
{% endblock %}

{# Customize analytics #}
{% block analytics %}
{% include '_analytics.html' %}
{% endblock %}
