{% extends '_base.html' %}

{% block meta %}
{% set header = header %}

{% include '_meta.html' %}
{% endblock %}

{# Customize title here #}
{% block title %}
{% set header = header %}

{% include '_title.html' %}
{% endblock %}

{# Customize intro here #}
{% block intro %}
{% endblock %}

{# Customize content. Modify right side of equals sign to match tab names in spreadsheet #}
{% block content %}
  <div class="container">
    <div class="article-header">
        <h3>Love letters from WWII arrive, deliver a mystery</h3>
        <h4>Decades-late mail prompts woman's quest for couple</h4>
        <h4>Date of publication: Tuesday, August 5, 2014</h4>
    </div>
    <p>Entrusting deep feelings to a flimsy envelope and an 8-cent stamp is an act of faith. But that's exactly what A.L. Fragakis did in 1945 when he was in the Navy and mailed two letters to his sweetheart back home in Chicago.</p> 
    <p>Almost 70 years later, those letters arrived by mail in July at 2713 S. Kolin Ave. -- but their intended recipient, Dorothy Bartos, is long gone. The current resident, Martha Rodriguez, has been diligently trying to get the correspondence back to the protagonists in this fledgling wartime romance -- or at least their descendants.</p> 
    <p>"I know if these were my grandparents, I'd sure want to have these letters," said Rodriguez, 38, who lives at the same address in the Little Village neighborhood. "These are special ... and should go back to the rightful owners."</p> 
    <p>Rodriguez received the letters, already opened, taped back to back. One was dated July 24, 1945; the other was postmarked a couple of weeks later on Aug. 9. Both were mailed from the Navy's Coronado Heights Annex in San Diego by a wistful sailor, as World War II was winding down.</p> 
    <p>To Bartos, whom Fragakis affectionately called "Bugs," he wrote: "You were the last girl I had been with. ... I'm sort of disgusted with myself for not even trying to kiss you good night."</p> 
    <p>Then came lush descriptions of the landscape and "the rows of palm trees and sweet music coming from the officers' quarters," he wrote. "It's a beautiful picture -- and it makes me so lonely. I hate it."</p> 
    <p>Other hopes and dreams poured out onto the page, as well, including applying for a patent for his invention: a special utensil for people "who like to drink coffee with a spoon in the cup, but don't want to poke their eye out."</p> 
    <p>But it was the romance that most touched Rodriguez.</p> 
    <p>"What if they were dating and going to get married?" she said, carefully folding the well-creased paper. "What if it didn't happen because she didn't get the letter? It's very emotional."</p> 
    <p>According to the U.S. Postal Service, the envelope appears to have been dropped into a collection box on July 14 this year from somewhere on the South Side or in the south suburbs. Because of the condition of the envelope, it was placed in a larger envelope at the Bedford Park mail processing facility, according to Mark Reynolds, Chicago district spokesman.</p> 
    <p>But as to where the letters spent the intervening decades, Reynolds could provide few clues.</p> 
    <p>A typical scenario, he said, is that someone runs across an old letter in a thrift or antiques store and will mail it, where it is then delivered, years after the fact, to some puzzled recipient.</p> 
    <p>Or sometimes a new homeowner will find it stashed in a nook or cranny and rather than throw it out, they'll throw it in a collection box. That's what happened in Charlotte, N.C., two years ago, when a man pried loose a bathroom floorboard and discovered a letter dated 1946.</p> 
    <p>"Unfortunately, letters can't talk and tell us where they've been," said Reynolds, adding that the Postal Service does not keep statistics on long-lost correspondence.</p> 
    <p>So it falls to Rodriguez to solve the mystery. After a flurry of Googling, she found three Dorothy Bartoses in Illinois -- one in Naperville and another in Orland Park, neither of whom had a beau in the Navy. The third prospect died in January.</p> 
    <p>She's in the process of reaching out to survivors listed in the obituary, hoping they once had a relative on Kolin Avenue.</p> 
    <p>The typed name on the envelope of one of the letters appears to read Fracakis, with a C, but the military said the service number on the envelope belonged to an Al Fragakis, with a G.</p> 
    <p>Military personnel records older than 60 years are moved from Washington to St. Louis and could take a while to track down, according to a spokesman. But there appears to be no death certificate, so "there is a good possibility this man is alive." </p>
    <p>The Tribune searched for people with the names Bartos, Fragakis or Fracakis in Illinois and Wisconsin, but none of those reached said they had knowledge of the letters.</p> 
    <p>An unabashed romantic, Rodriguez is undeterred. "I'm not even close to giving up," she said. </p>
{% endblock %}

{# Customize analytics #}
{% block analytics %}
{% include '_analytics.html' %}
{% endblock %}
