{% extends '_base.html' %}

{% block meta %}
{% set header = header %}

{% include '_meta.html' %}
{% endblock %}

{# Customize title here #}
{% block title %}
{% set header = header %}

{% include '_title.html' %}
{% endblock %}

{# Customize intro here #}
{% block intro %}
{% endblock %}

{# Customize content. Modify right side of equals sign to match tab names in spreadsheet #}
{% block content %}
  <div class="container">
    <div class="intro-bonnie">
      <div class="row">
        <div class="col-sm-4 col-xs-6" >
          <img src="img/bonnie2.jpg" class="img-responsive">
          {#<p class="credit">Photo: John Dziekan/Chicago Tribune/MCT</p>#}
        </div> 
        <div class="col-sm-8">
          {{ intro|markdown }}
          <p class="page-end">❧ ❧ ❧</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{# Customize analytics #}
{% block analytics %}
{% include '_analytics.html' %}
{% endblock %}
